/* stylesheet of inboard1.html */

:root{
    --ancho: 300px;
}

body {
    display: flex;
    flex-direction: column;
    height: 160vh;
    background-color: black;
    color: gray;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

div {
   justify-content: center;
    align-items: center;
}

.row{
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}

p{ text-align: justify; 
    line-height: 1.6;
    }
.progressBar[value] {
    /* Reset the default appearance */
    -webkit-appearance: none; /* Chrome / Safari / Opera */
    -moz-appearance: none; /* Firefox */
    appearance: none;

    
    /* Get rid of default border in Firefox. */
    border: none;
    
    width: 900px;
    height: 30px;
    margin-bottom: 30px;
}  

.progressBar[value]::-webkit-progress-bar {
    background-color: #95a6b1;
   }

.progressBar[value]::-moz-progress-bar {
    background-color: #95a6b1;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--ancho); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-right: var(--ancho); /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 800px;
  background-color: #0D1665;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 15px;


  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}